

.title {
    display: block;
    text-align: center;
    font-size: 45px;
}

.all-user-messages {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: right;

}

.form-content {
    position: absolute;
    bottom: 0;
    display: flex;
}



.type-and-add {
    align-self: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    justify-items: center;
    

}


.div-form{

}